<h1>User Profiles</h1>
<ul class="list-group">
  <% @users.each do |user| %>
  <li class="list-group-item">
    <span class="badge"><%= user.favorite_courses.size%></span>
   <%= link_to user.email, profile_path(user)  %>
  </li>
  <% end %>
</ul>
