!.keep
*.DS_Store
*.swo
*.swp
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/uploads
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/public/assets
/tags
/tmp/*
/public/uploads/*
.idea/
.vagrant
spec/fixtures/test.mp4
