/*
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}
